.may-like-card .box {
  overflow: hidden;
  align-items: flex-start !important;
  background-color: #f6f2f2cf;

  &:hover {
    background-color: #e2e1e1;
  }

  .img {
    height: 70px;
    width: 30%;

    & img {
      object-fit: cover;
    }
  }

  .info {
    flex: 1;
    width: 70%;
  }
}
