.may-like .box {
  overflow: hidden;
  background-color: #f6f2f2cf;
  & :hover {
    background-color: #e2e1e1;
  }
  align-items: flex-start !important;
  .img {
    width: 80px;
    height: 70px;
    & img {
      object-fit: cover;
    }
  }
  .info {
    flex: 1;
  }
}
