.modal-header {
  border: none !important;
}
.modal-header .btn-close:focus {
  box-shadow: none !important;
}
.modal-body .img {
  width: 100%;
}
.modal-body .foot svg {
  background-color: rgba(0, 0, 0, 0.233);
  padding: 7px;
  font-size: 35px;
  cursor: pointer;
  transition: 0.5s;
  -webkit-transition: 0.5s;
  -moz-transition: 0.5s;
  -ms-transition: 0.5s;
  -o-transition: 0.5s;
}
.modal-body .foot svg.active,
.modal-body .foot svg:hover {
  background-color: var(--blue-color);
  color: white;
}
.modal .add-to-cart > div {
  display: flex;
  align-items: center;
}
.modal .add-to-cart .remove {
  height: 25px;
  margin-left: 5px;
  line-height: 25px;
}
