.product-details .img {
  width: 100%;
}
.product-details .foot svg {
  background-color: rgba(0, 0, 0, 0.233);
  padding: 7px;
  font-size: 35px;
  cursor: pointer;
  transition: 0.5s;
}
.product-details .foot svg.active,
.product-details .foot svg:hover {
  background-color: var(--blue-color);
  color: white;
}
.product-details .add-to-cart > div {
  display: flex;
  align-items: center;
}
.product-details .add-to-cart .remove {
  height: 25px;
  margin-left: 5px;
  line-height: 25px;
}
