.product-grid-4 {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(210px, 1fr));
  gap: 20px;
  align-items: flex-start;
}
.product-grid-1 {
  display: grid;
  gap: 20px;
  .card-p {
    display: flex;
    padding: 5px;
    .img {
      width: 350px;
    }
    .body {
      & > div {
        display: flex;
        flex-direction: column;
        gap: 10px;
        align-items: flex-start !important;
      }
    }
    .foot {
      position: absolute;
      bottom: 10px;
      right: 10px;
      .add-to-cart {
        & >div {
          display: inline-flex;
          .remove {
            margin: 0 0 0 10px !important;
          }
        }
        .add-btn {
          padding: 3px 10px !important;
        }
      }
      }
    }
  }
}
