.details .img {
  width: 100%;
}
.details .foot svg {
  background-color: white;
  padding: 7px;
  font-size: 35px;
  cursor: pointer;
  transition: 0.5s;
  -webkit-transition: 0.5s;
  -moz-transition: 0.5s;
  -ms-transition: 0.5s;
  -o-transition: 0.5s;
}
.details .foot svg.active,
.details .foot svg:hover {
  background-color: var(--blue-color);
  color: white;
}
.details .add-to-cart > div {
  display: flex;
  align-items: center;
}
.details .add-to-cart .remove {
  height: 25px;
  margin-left: 10px;
  line-height: 25px;
}
